
@model PizzaBox.Client.Models.Order

@{
    if (Model.Pizzas.Count > 0 && Model.Pizzas.Count <= 50)
    {
        @Html.ActionLink("Place Order", "Place", "Order")
    }
}

@if (Model.Pizzas.Count < 50)
{
    @Html.ActionLink("Add Pizza", "SelectType", "Pizza")
}
    
<div>
    <label>Total Price</label>
    <br />
    <label>@Html.DisplayTextFor(model => model.Price)</label>
</div>


<table class="table">
    <thead>
        <tr>
            <th>
                Pizza Type
            </th>
            <th>
                Crust
            </th>
            <th>
                Size
            </th>
            <th>
                Toppings
            </th>
            <th>
                Price
            </th>
            <th>

            </th>
        </tr>
    </thead>
    <tbody>
        @for(int i = 0; i < Model.Pizzas.Count; i++)
        {
            var item = Model.Pizzas[i];
            <tr>
                <td>
                    @item.Name  
                </td>
                <td>
                    @item.Crust.Name
                </td>
                <td>
                    @item.Size.Name
                </td>
                <td>
                    @{
                        var str = "";
                        item.Toppings.ForEach(t => str += t.ToString() + ", ");
                        if (str.Length > 1)
                        {
                            str = str.Remove(str.Length - 2, 2);
                        }
                    }
                    @str
                </td>
                <td>
                    @item.Price
                </td>
                <td>
                    @Html.ActionLink("Remove", "Remove", "Pizza", new { Index = i })
                </td>
            </tr>
        }
    </tbody>
</table>