@model IEnumerable<PizzaBox.Client.Models.Order>

@{
    ViewData["Title"] = "StoreOrderHistory";
}

<h1>StoreOrderHistory</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TimePlaced)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Store.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Customer.Name)
            </th>
            <th>
                Number of Pizzas
            </th>
            <th>

            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.TimePlaced)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Store.Name)
                </td>
                <td>
                    @item.Customer.Name
                </td>
                <td>
                    @item.Pizzas.Count()
                </td>
                <td>
                    @Html.ActionLink("Details", "StoreHistoryDetails", new { ID = item.ID })
                    @{
                        // display the details for /Order/CustomerName
                    }

                </td>
            </tr>
        }
    </tbody>
</table>
